#chat-messages {
    height: 400px;
    overflow-y: auto;
}

/* #register-button {
    background-image: linear-gradient(to right bottom, #092c62, #005992, #008394, #00a965, #87c400);
}

#register-button:hover {
    
} */
